doctype html
html
  head
    title Sucre Adventure
    meta(http-equiv='X-UA-Compatible', ,='', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')    
    meta(charset='utf-8')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
    link(href="/css/font-awesome.min.css" rel="stylesheet")
    link(href='/css/styles.css', rel='stylesheet')      
  body
    section#app-container
    footer.page-footer
      .social-icons
        a(href='')
          i.fa.fa-instagram
        a(href='')
          i.fa.fa-facebook
        a(href='')
          i.fa.fa-twitter
      .footer-right
        | © 2017 Copyright Text
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
    script(src='/app.js')