@font-face {
    font-family: 'GloriaHallelujah';
    src: url('../fonts/GloriaHallelujah.ttf');
}

@font-face {
    font-family: 'SFNS-Medium';
    src: url('../fonts/SFNS-Medium.otf');
}

@font-face {
    font-family: 'SFNS-Regular';
    src: url('../fonts/SFNS-Regular.otf');
}


body {
  font-size: 16px;
  font-family: 'SFNS-Regular';
}


nav {
  height: 100px;
  background: rgba(255, 255, 255, 0.28);
  position: absolute;
  z-index: 9;
}


nav .nav-wrapper {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .nav-wrapper a.logo {
  width: 11em;
  display: flex;
  height: 100%;  
}

nav .nav-wrapper a.logo img {
  width: inherit;
}

nav .nav-wrapper .social-icons {
  margin-right: 1em;
}

nav .nav-wrapper .social-icons a {
  margin: 0 5px;
  font-size: 1.5em;
  color: #000000;
}

nav .nav-wrapper .actions {
  display: flex;
  align-items: center;  
}

nav .nav-wrapper .user-info {
  width: 3.5em;
  height: 100%;  
}

nav .nav-wrapper .user-info a img {
  width: 100%;
  height: 100%;  
  vertical-align: middle;
}

.slider, ul.slides { 
  height: 70vh !important;
  font-family: 'GloriaHallelujah';  
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#00BAD1;
  color: white;
  font-size: 2em;
  padding: .5em !important;  
  font-family: 'GloriaHallelujah';
}

.card-title {
  font-family: 'SFNS-Medium';
}

.page-footer {
  padding-top: 20px;
  background-color: #00BAD1;
  text-align: center;
  font-family: 'SFNS-Medium';      
  color: white;
  padding: 1em 0;  
}

.page-footer .social-icons {
  margin-bottom: 1em;
}

.page-footer .social-icons a {
  margin: 0 5px;
  font-size: 2em;
  color: white;
}

.activity-image {
  height: 70vh;
  width: 100%;
}

.activity-image img {
  width: inherit;
  height: 100%;
}

.item .title {
  font-size: 1.5em;
  font-family: 'GloriaHallelujah';
}

.share-icons {
  text-align: center;
  padding: 1em;
}

.share-icons button {
  color: white;
  width: 60px;
  text-align: center;
  height: 60px;
  background-color: #CCCCCC;
  border: 0px;
  border-radius: 50px;
}

.share-icons button i {
  font-size: 1.5em;
}

.share-icons button:nth-child(2) {
    margin: 0 1em;
}

.facebook:hover {
  background-color: rgb(59, 89, 152);
}

.google:hover {
  background-color: rgb(220, 78, 65);
}

.twitter:hover {
  background-color: rgb(29, 161, 242);
}

.modal {
  width: 500px;
}

.modal-content h4 {
  font-family: 'GloriaHallelujah';
  font-size: 1.5em;
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.loading {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.row.loading-content {
  text-align: center;
  padding: 5em 0;  
}

.more-list {
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  right: 10px;
  color: white;  
}

.card .card-image img {
  height: 13em;
}
